.appearance-logo-preview {
  max-width: 400px;
  margin-bottom: 20px;
}

.appearance-light-logo-preview {
  background-color:  $style_color;
  max-width: 72px;
  padding: 10px;
  margin-bottom: 10px;
}
