%fieldset.merge-request-feature
  %legend
    Merge requests:

  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        = f.label :merge_requests_rebase_enabled do
          = f.check_box :merge_requests_rebase_enabled
          %span.descr Allows rebasing of merge requests before merging.

  .form-group.rebase-default
    .col-sm-offset-2.col-sm-10
      .checkbox
        = f.label :merge_requests_rebase_default do
          = f.check_box :merge_requests_rebase_default
          %span.descr Rebase enabled by default

  .form-group
    = f.label :merge_requests_template, class: 'control-label' do
      Description template
    .col-sm-10
      = f.text_area :merge_requests_template, placeholder: "This MR should have: *", class: "form-control", rows: 3

  .form-group
    = f.label :approvals_before_merge, class: 'control-label' do
      Approvals required
    .col-sm-10
      = f.number_field :approvals_before_merge, class: "form-control", min: 0
      .help-block
        How many users should approve merge request before it can be accepted. 0 - approval is disabled

  .form-group.reset-approvers-on-push
    .col-sm-offset-2.col-sm-10
      .checkbox
        = f.label :reset_approvers_on_push do
          = f.check_box :reset_approvers_on_push
          %span.descr Reset approvers on push
